@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
.MainPage{
  width: 100%;
  height: 100vh;
}
.App{
  background-color: #091833;

  height: 100%;

}
h1{
  color: white;
  text-transform: uppercase;

}

h2{
  font-family: 'Varela';
  color: white;

}

h3{
  font-family: 'Varela';
  color: #ea00d9;
  border-radius: 2px;
  font-size: 25px;
}

a{
  text-decoration: none;
}